.lp-body-styles {
	margin: 0;
	-webkit-tap-highlight-color: transparent;
    font-size: 16px;
    font-family: Sen !important;
    line-height: 1.6;
    color: rgb(61, 64, 66);
    background-color: #fff;
}

.lp-nav-wrapper{
    padding: 0 16px;
}
.lp-wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    max-width: 1170px; /* 2 */
    padding: 0 16px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
@media screen and (min-width: 1170px){
    .lp-wrapper {
        width: 1170px;
        margin-right: auto; /* 1 */
        margin-left:  auto; /* 1 */
        padding: 0 16px;
    }
    .lp-nav-wrapper {
        width: 1170px;
        margin-right: auto; /* 1 */
        margin-left:  auto; /* 1 */
        padding: 0 16px;
    }
    .lp-heroTextWrap {
        width: 444px;
    }
    .lp-faq-list-wrapper {
        margin-top: 50px;
    }
    .lp-pricing-cards-container {
        grid-template-columns: repeat(3,1fr);
    }
    .lp-about {
        text-align: left;
        width: 50%;
        margin-top: 64px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 768px){
    .lp-contactFormWrapper {
        padding: 64px;
        border-radius: 64px;
    }
    .lp-faq-plus-minus-container {
        display: block;
    }
    .lp-pricing-cards-container {
        grid-template-columns: 1fr;
    }
}


/* ------------------------------ Nav Bar Start ----------------------------- */
.lp-toolbar{
    padding: 16px 16px !important;
}
.lp-nav-height {
    min-height: 73px;
}
.lp-grow {
    flex-grow: 1;}
.lp-appBar {
    color: '#3D4042';
    background-color: white;
    padding: 0 2%;
}
.lp-toolBar {
    margin: 0 2%;
    display: flex;
    justify-content: space-between;
}lp-
.lp-navItems{
    margin: 0 auto;
}
.lp-logo {
    max-width: 128px;
    max-height: 128px;
}
.lp-navListContainer {
    margin-block-start: '1em';
}
.lp-navList {
    list-style: 'none';
    display: 'inline';
    margin: 0 16px;
}
.lp-unoBtton {
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 24px;
    border-width: initial;
    text-decoration: none;
    display: inline-block;
    line-height: 1.6;
    position: relative;
    font-family: inherit;
}
.lp-empBtton {
    background-color: rgb(63, 81, 181);
    margin-right: 8px;
    border:none !important;
}
.lp-signupButton {
	white-space: nowrap;
	background: rgb(242, 79, 40);
    padding: 8px 20px;
    border: none !important;
}
.lp-inputRoot {
    color: inherit,
}
/* ------------------------------- Nav Bar End ------------------------------ */


/* ------------------------------- Main Start ------------------------------- */

.lp-heroContainer {
    padding-top: 32px;
    padding-bottom: 60px;
    margin: 0, '4%';
}
.lp-heroTitle {
    font-size: 40px;
    color: 'rgb(37, 39, 40)';
    margin-bottom: 32px;
}
.lp-heroText {
    color: '#6E7477';
    font-size: 20px;
}
.lp-heroTextContainer {
    margin-top: 125px;
    margin-bottom: 135px;
}

/* -------------------------------- Main End -------------------------------- */



/* ----------------------------- Features start ----------------------------- */


/* ------------------------------ Features End ------------------------------ */



/* ------------------------------ Pricing Start ----------------------------- */

.cKOUfV{
    position: relative;
}
.lp-pricing-cards-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 30px;
}
.lp-pricing-title {
    margin-bottom: 64px;
}
.lp-signup-button-pricing {
    text-decoration: none;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    align-self: center;
    text-align: center;
    margin: 30px 0px 0px;
    text-decoration: none;
    border-style: none;
    outline: 0px;
    padding: 11px 48px 12px;
    border-radius: 24px;
    transition: all 0.2s ease-in-out 0s;
    background: rgb(63, 81, 181);
}
.lp-pricing-card {
	text-align: left;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(34, 39, 43, 0.06) 50px 36px 64px 50px;
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
    break-inside: avoid;
    border-style: none;
    border-radius: 64px;
    outline: none !important;
}
.lp-card2Title {
    display: flex;
    justify-content: center;
    color: rgb(63, 81, 181);
}
.lp-card2Body { text-align: left;}
.lp-card2List {
    list-style: outside none none;
    padding: 0;
}
.lp-card2ListItems {
    padding: 16px 0;
    border-bottom: 1px solid rgb(228, 230, 231);
}
.lp-listStyleIconContainer {
    display: inline-block;
    font-size: 24px;
    margin-bottom: -6px;
    margin-right: 16px;
    color: rgb(63, 81, 181);
    box-sizing: border-box;
}
.lp-listStyleIcon {
    display: block;
    width: 1em;
}
.lp-cars2Footer {
    font-size: small;
    color: #BDC0C2;
    font-weight: 400;
}
.lp-centered {
	margin: 0 auto;
	text-align: center;
    display: block;
}

/* -------------------------------------------------------------------------- */
/*                                  FAQ Start                                 */
/* -------------------------------------------------------------------------- */

.lp-faq-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.lp-faq-list-wrapper {
    padding: 0px;
    margin: 30px 0px 0px;
    list-style: none;
    width: 100%;
}
.lp-faq-list-wrapper li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.lp-faq-li-body-wrapper {
    flex: 0 1 50%;
}
.lp-faq-button {
    text-align: left;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(34, 39, 43, 0.06) 0px 36px 64px;
    margin-bottom: 4px;
    break-inside: avoid;
    display: inline-block;
    border-style: none;
    border-radius: 24px;
    padding: 16px;
    outline: none !important;
    align-items: flex-start;
    width: 100%;
}
.lp-faq-button-body {
    display: flex;
}
.lp-faq-plus-minus-container {
    color: #febb75;
    font-size: 24px;
    line-height: 1;
    margin-right: 16px;
    margin-top: 2px;
}
.lp-faq-plus-minus-container svg {
    display: block;
    width: 1em;
}
.lp-faq-plus-minus-container svg path{
    fill: #febb75;
}
.lp-faq-list-title {
    font-size: 20px;
    line-height: 1.6;
    font-weight: bold;
    font-family: Sen;
    color: rgb(61, 64, 66);
}
.lp-faq-text {
    color: rgb(110, 116, 119);
    padding: 16px 16px 16px 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    font-family: Sen;
}
.lp-faq-text a {
    text-decoration: underline;
    color: -webkit-link;
}

/* -------------------------------------------------------------------------- */
/*                                   FAQ End                                  */
/* -------------------------------------------------------------------------- */

/* ---------------   About/ Contact Form */
.lp-aboutTextContainer {
    margin-bottom: 32px;
}
.lp-contactsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lp-contactContainer{
    display: flex;
    margin-bottom: 16px;
}
.lp-aboutIconText{
    margin: 0;
}
.lp-contactFormTitle {
    margin: 0 0 32px;
}
.lp-contactFormWrapper{
    text-align: left;
    border: medium none;
    outline: currentcolor none medium !important;
    box-shadow: rgba(63, 81, 181, 0.14) 0px 24px 32px;
    background-color: rgb(63, 81, 181);
    border-radius: 24px;
    color: rgb(255, 255, 255);
    max-width: 544px;
    padding: 24px;
    position: relative;
    width: 100%;
    break-inside: avoid;
    margin: 0;
}
.eUMQjj{
    margin-bottom: 16px;
}
.lp-contactFormInputContainer{
    position: relative;
    display: flex;
    align-items: stretch;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: rgb(228, 230, 231) 0px 0px 0px 1px inset;
    transition: all 0.2s ease-in-out 0s;
    box-sizing: border-box;
    width: 100%;
}
.lp-contactFormInputLabel{
    font-size: 14px;
    line-height: 1.7;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    box-sizing: border-box;
}
.lp-contactFormInput {
    position: relative;
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 15px 16px 14px;
    font-size: 16px;
    line-height: 1.7;
    color: #a8acaf;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    border: medium none;
    outline: currentcolor none medium !important;
    transition: all 0.2s ease-in-out 0s;
    appearance: none;
    box-sizing: border-box;
}
.lp-send-request {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 32px 0px 0px;
    font-family: Sen;
    font-weight: bold;
    line-height: 1.6;
    text-decoration: none;
    border: none;
    border-style: none;
    padding: 11px 48px 12px;
    border-radius: 24px;
    transition: all 0.2s ease-in-out 0s;
    background: rgb(242, 79, 40);
}
.ReactCollapse--collapse{
    height: 0px;
    overflow: hidden;
}
.eUMQjj .ReactCollapse--collapse{
    transition: height 200ms ease-in-out 0s;
}

.lp-contact-textarea {
    min-height: 180px !important;
}

/* ------------------------------ Footer Start ------------------------------ */

.lp-footer-wrapper {
    padding: 18px 0;
    border-top: 1px solid rgb(228, 230, 231);
}
.lp-footer-container {
    display: flex;
    justify-content: space-between;
    color: rgb(189, 192, 194);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    font-family: Sen,
}
.lp-footer-container a {
    text-decoration: none;
    color: rgb(189, 192, 194);
}
.lp-terms-privacy {
    display: flex;
    justify-content: space-between;
}

/* ------------------------------- Footer End ------------------------------- */